<div class="testimonials">
 
<div class="ptrn1">
  <img src="../../../assets/Home Page Components/Abstarct Pattern 5 Component - Testimonials.svg" alt="component 5">
</div>
<div class="ptrn2">
  <img src="../../../assets/Home Page Components/Abstract Pattern 4 Component - Testimonials.svg" alt="component 4">
</div>
<div class="components"> 
    <p style="color: #313131; font-size: 16px;margin-bottom: 40px;">Testimonials</p>
    <p style="color: #e33439; font-size: 36px">Upcoming Initiatives</p>
    <div style="margin-top: 16px; margin-bottom: 40px; color: #313131">
      <img
        src="../../../assets/Home Page Components/Abstract Pattern 1 Component - Events - Upcoming Initiatives.svg"
        alt="sign"
        height="24.45px"
        width="255.9px"
      />
    </div>
    <div class="userTestimonials">
      <div class="leftQuotes">
        <img
          src="../../../assets/Home Page Components/Left-Quotes.svg"
          alt="Left-Quotes"
        />
      </div>
      <div class="text">
        <p>Working with at Astha Foundation has been an absolute privilege. Their
        passion for helping the needy is truly inspiring. Their dedication and
        compassion have made a significant difference in the lives of countless
        individuals and families.</p>
      </div>
      <div class="Right-Quotes">
        <img src="../../../assets/Home Page Components/Right-Quotes.svg" alt="Right-Quotes" style="background-color: #f8f8f800;">
      </div>
      <div class="testimonialPerson">
        <img src="../../../assets/Home Page Components/alexander-hipp-iEEBWgY_6lA-unsplash.jpg" alt="testimonialPerson" style="align-self: center;">
        <p style="color: #E33439; font-size: 20px; margin-top: 8px;">Kunal Goshwami</p>
        <p style="color: #313131; font-size: 16; margin-top: 8px;">Software Engineer</p>
      </div>
      <div class="testimonialSlider">
        <p>...</p>

      </div>
    </div>
  </div>
  
</div>
