<div class="Subscription">
  <div class="SubcriptionTitle">Subscribe to our newsletter</div>
  <div class="SubscriptionBody">
    Stay updated with the latest news, events, and inspiring stories. Subscribe
    to our newsletter and be part of our mission to make a positive impact. Join
    now!
  </div>
  <div class="email">
    <div class="input">
       Enter your email
    </div>
    <div class="email-btn">
        Subscribe
    </div>
  </div>
  <div class="social-icon">
    <img src="../../../assets/Home Page Components/Whatsapp.svg" alt="whats_icon">
    <img src="../../../assets/Home Page Components/Facebook.svg" alt="facebook_icon">
    <img src="../../../assets/Home Page Components/Twitter.svg" alt="twitter_icon">
    <img src="../../../assets/Home Page Components/Instagram.svg" alt="Instagram_icon">
  </div>
  <div style="background-color: #9E9E9E; height: 2px; width: 100%;"></div>
  <div class="copyright">Copyright © 2023 Astha Foundation | All Rights Reserved    </div>
</div>
