
<div [ngClass]="classes" >
  <img src="../../../assets/coursel_img/photo-removebg-preview.png" alt="logo" height="52.25px" width="50px">
  <div class="Name">
    <h5 class="red">Astha</h5>
    <h5 style="color: #313131;">Foundation</h5>
    <p>ESTD: 2019</p>
  </div>
  <div class="menu">
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="#about_us" >About Us</a></li>
      <li><a  >Causes</a></li>
      <li><a href="#events">Campaigns</a></li>
      <li><a href="#gallery">Gallery</a></li>
      <li><a href="#support" >Support Us</a></li>
    </ul>
   
  </div>

  <div class="btn">
    <p>Donate</p>
  </div>

  <div class="mobile-navbar-btn">
    <i
      name="menu-icon"
      class="material-icons mobile-nav-icon"
      (click)="toggleMenu()"
      >menu</i
    >
    <i
      name="close-icon"
      class="material-icons mobile-nav-icon"
      (click)="toggleMenu()"
      >close</i
    >
  </div>
</div> 
