<div class="events">
  <p style="font-size: 16px; margin-bottom: 40px;">Events</p>
  <p style="color: #E33439; font-size: 36px">
   Ongoing Initiatives
  </p>
  <div style="margin-top: 16px; margin-bottom: 40px; color: #313131;">
    <img
      src="../../../assets/Home Page Components/Abstract Pattern 1 Component - Events - Ongoing Initiatives.svg"
      alt="sign"
      height="24.45px"
      width="255.9px"
    />
    </div>
  <div class="Recent-event">
    <div class="photo">
        <div class="gallery">
        </div>
    </div>
    <div class="details">
        <p style="font-size: 24px; color: #E33439;">Clothes distribution event at Nibedita Sikha 
            Prangon</p><br>
            <div class="box">
                <i class="fa-solid fa-calendar-days" style="color: #E33439; padding-right: 15px; height: 20px; "></i>
            <p>{{EventDate}}</p>
        </div><br>
           <div class="box">
            <i class="fa-solid fa-location-dot" style="color: #E33439; padding-right: 15px; height: 20px; "></i>
            <p>{{EventPlace}}</p>
        </div>
        <div class="line"></div>
        <div class="price">
            <div class="Goal">
                <div style="color: #313131; padding-right: 5px;">Goal :</div>
                <div style="color: #E33439; align-items: center;"><i class="fa-solid fa-indian-rupee-sign" style="padding-right: 5px;"></i>25000</div>
            </div>
            <div class="Raised">
                <div style="color: #313131; padding-right: 5px;">Raised :</div>
                <div style=" color: #E33439; align-items: center;"><i class="fa-solid fa-indian-rupee-sign" style="padding-right: 5px;"></i>5000</div>
            </div>
        </div>
        <div class="info-btn" >
          Donate
        </div>
      </div>
  </div>
  <div class="silde-btn">
    <img src="../../../assets/Home Page Components/Arrow - Not Filled - Left.svg" alt="left_key" style="margin-right: 8px;">
    <img src="../../../assets/Home Page Components/Arrow - Filled - Right.svg" alt="right_key">
  </div>
  <p style="color: #E33439; font-size: 36px">
    Upcoming Initiatives
   </p>
   <div style="margin-top: 16px; margin-bottom: 40px; color: #313131;">
     <img
       src="../../../assets/Home Page Components/Abstract Pattern 1 Component - Events - Upcoming Initiatives.svg"
       alt="sign"
       height="24.45px"
       width="255.9px"
     />
     </div>
     <div class="Initiatives">
      <div class="unopened">
        <div class="eventDate">
          <p id="Day">15</p>
          <p id="Month">August</p>
          <p id="Year">2023</p>
        </div>
        <div class="eventDetails"><p style="margin-bottom: 0px;">Celebrating the 2nd Anniversary of Astha Foundation</p>
          <div class="location"><img src="../../../assets/Home Page Components/Location - Filled.svg" alt="location_icon" style="padding: 4px;">Shrirampur, Hooghly</div>
        </div>

        <img src="../../../assets/Home Page Components/Down - Circle - Down - Bold.svg" alt="downCircle" height="48px" width="48px">
      </div>
      <div class="unopened">
        <div class="eventDate">
          <p id="Day">25</p>
          <p id="Month">October</p>
          <p id="Year">2023</p>
        </div>
        <div class="eventDetails"><p style="margin-bottom: 0px;">Distributing New Cloths for the Durga Puja Festival</p>
          <div class="location"><img src="../../../assets/Home Page Components/Location - Filled.svg" alt="location_icon" style="padding: 4px;">Gosaba, Sunderbans</div>
        </div>

        <img src="../../../assets/Home Page Components/Down - Circle - Down - Bold.svg" alt="downCircle" height="48px" width="48px">
      </div>
     </div>
     <div class="info-btn" style="margin-top: 40px;">
      See More
    </div>
</div>
