
<div class="homeContainer">

  
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item carousel-image bg-img-1 active" >
          <!-- <img src="./assets/coursel img/DSC_0094-01.jpeg.jpg" class="d-block w-100" alt="img1"> -->
        </div>
        <div class="carousel-item carousel-image bg-img-2">
          <!-- <img src="./assets/coursel DSC_0525-01.jpeg.jpg" class="d-block w-100" alt="img2"> -->
        </div>
        <div class="carousel-item carousel-image bg-img-3">
          <!-- <img src="./assets/coursel img/IMG-20200126-WA0030-01.jpeg.jpg" class="d-block w-100" alt="img3"> -->
        </div>
      </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  
</div>