
<div class="container">
    <div class="row">
        
        <ul class="list-col anima">
            <h4>about us</h4>
            <li><a href="">about astha</a></li>
            <li><a href="">impact</a></li>
            <li><a href="">reach & presence</a></li>
            <li><a href="">smilestones</a></li>
            <li><a href="">privacy policy</a></li>
        </ul>
    </div>
    <div class="row">
        
        <ul class="list-col anima">
            <h4>our work</h4>
            <li><a href="">Education</a></li>
            <li><a href="">Health</a></li>
            <li><a href="">Livelihood</a></li>
            <li><a href="">Women Empowerment</a></li>
            <li><a href="">disterResponse</a></li>
        </ul>
    </div>
    <div class="row">
        <ul class="list-col anima">
            <h4>campaigns</h4>
            <li><a href="">For children</a></li>
            <li><a href="">For old-aged person</a></li>
            <li><a href="">Health campaigns</a></li>
            <li><a href="">helping with things</a></li>
        </ul>
    </div>
    <div class="row">
        <ul class="list-col anima">
            <h4>get involved</h4>
            <li><a href="">individual support</a></li>
            <li><a href="">corporate partnerships</a></li>
            <li><a href="">school partnerships</a></li>
            <li><a href="">careers</a></li>
        </ul>
    </div>
    <div class="row">
        <ul class="list-col">
            <h4>social</h4>
            <div class="icons">
                <a href=""><fa-icon [icon]="faFacebook" size="lg"></fa-icon></a> 
                <a href=""><fa-icon [icon]="faInstagram" size="lg"></fa-icon></a> 
                <a href=""><fa-icon [icon]="faTwitter" size="lg"></fa-icon></a>  
            </div>
            
        </ul>
    </div>
</div>