<div class="about" >
  <div class="title">
    <p style="font-size: 16px; color: #F8F8F8; margin-bottom: 40px;">About Us</p>

    <p style="color: #E33439; font-size: 36px">
      Who are we ...??
    </p>
    <div style="margin-top: 16px;">
      <img
        src="../../../Astha_foundation/Home Page Components/Abstract Pattern 1 Component - About Us - Who Are We.svg"
        alt="sign"
        height="24.45px"
        width="255.9px"
      />
    </div>
  </div>
  <div class="about-body">
    <div class="about-pic">
      <img src="../../../Astha_foundation/Home Page Components/Who Are We Picture.svg" alt="Who are we pic">
    </div>
    <div class="passage">
      <p>
        Astha Foundation is a self-funded NGO led by a committed team of
        individuals. Our mission is to assist underprivileged individuals by
        addressing their basic needs, providing education, promoting health and
        well-being, and empowering them for a better future. We invite you to
        join us in making a positive and lasting impact on the lives of those in
        need, and together, let's build a brighter future for all.
      </p>
      <div class="info-btn" style="margin-top: 24px">
        <p>More Info</p>
      </div>
    </div>
  </div>
  <div class="title">
    <p style="color: #E33439; font-size: 36px">
      What we do ...??
    </p>
    <div style="margin-top: 16px; margin-bottom: 40px;">
      <img
        src="../../../Astha_foundation/Home Page Components/Abstract Pattern 1 Component - About Us - Who Are We.svg"
        alt="sign"
        height="24.45px"
        width="255.9px"
      />
    </div>
    <div class="passage" style="width: 100%; text-align: center">
      <p>
        We strategize and diligently work towards meaningful causes that bring
        about positive change in the lives of disadvantaged children and
        underprivileged individuals in our community. Our aim is to make a
        tangible difference and improve the circumstances for those in need.
      </p>
    </div>
  </div>
  <div class="Workcatagory">
    <div class="division">
      <div class="icon">
        <img src="../../../Astha_foundation/Home Page Components/Food.svg" alt="food_icon" >
        <!-- <i class="fa-solid fa-bell-concierge icon-inside"></i> -->
      </div>
    
      <p class="icon-title">
        Healthy Food
      </p><br>
      <p class="description">Provide nutritious and healthy food donations to those in need.</p>
      <a href="" class="read-more">Read more...</a>
    </div>
    <div class="division">
        <div class="icon">
        <!-- <i class="fa-solid fa-school icon-inside"></i> -->
        <img src="../../../Astha_foundation/Home Page Components/Book.svg" alt="book_icon">
      </div>
      
      <p class="icon-title">
        Education
      </p><br>
      <p class="description">Provide education to 
        children, to create a 
        brighter future for 
        them.</p>
      <a href="" class="read-more">Read more...</a>
    </div>
    <div class="division">
        <div class="icon">
          <img src="../../../Astha_foundation/Home Page Components/Health.svg" alt="Health_icon" >
            <!-- <i class="fa-solid fa-heart-circle-plus icon-inside" ></i> -->
            </div>
          <p class="icon-title">
            Health
          </p><br>
          <p class="description">Provide education to 
            children, to create a 
            brighter future for 
            them.</p>
          <a href="" class="read-more">Read more...</a>
    </div>
    <div class="division">
        <div class="icon">
          <img src="../../../Astha_foundation/Home Page Components/Social-Service.svg" alt="SocialService_icon" >
            <!-- <i class="fa-solid fa-user-group icon-inside"></i> -->
            </div>
          <p class="icon-title">
            Social-Service
          </p><br>
          <p class="description">Provide education to 
            children, to create a 
            brighter future for 
            them.</p>
          <a href="" class="read-more">Read more...</a>
    </div>
  </div>
  <div class="speakers-talk" >
    <p style="color: #E33439; font-size: 36px;width: 40%; line-height: normal; ">Our numbers that 
        speak</p>
      <img src="../../../Astha_foundation/Home Page Components/Abstract Pattern 3 Component - About Us - Impact Numbers.svg" alt="About_us" >
        <div class="lowerSection">
            <div class="speaker-description">
        
                <p class="passage" style="width: 95%; line-height: 2.5rem; margin: 0px;">We are motivated by the numbers 
                    that inspire us to give our best 
                    and continuously strive to 
                    surpass our own achievements. 
                    Witnessing our growth and the 
                    increasing number of individuals 
                    we are able to assist brings us 
                    great joy and satisfaction. We are 
                    committed to expanding our 
                    reach and making a positive 
                    impact on more lives with each 
                    passing day.</p>
            </div>
           <div class="speaker-block">
                <div class="blocks">
                    <h1>{{eventCount}}+</h1>
                    <p>Events</p>
                </div>
               
                <div class="blocks">
                    <h1>{{cousesCount}}+</h1>
                    <p>Causes</p>
                </div>
                <div class="blocks">
                    <h1>{{volunteersCount}}+</h1>
                    <p>Volunteers</p>
                </div>
                <div class="blocks">
                    <h1>{{donationsCount}}K</h1>
                    <p>Dontions</p>
                </div>
        
            </div>
           
        </div>
   
  </div>
</div>
